<div class="container">
  <h4 class="row text-center title">紅茶のレシピ</h4>
  <%= render 'search_form' %>
  <div class="row">
    <div class="col-sm-8 mr-sm-3">
      <% @recipes.each do |recipe| %>
        <%= link_to recipe_path(recipe.id), class: "text-dark" do %>
          <%= render 'public/posts/list', post: recipe.post %>
        <% end %>
      <% end %>
    </div>
    <%= render 'public/tags/tea_name_list', tags: @tags %>
  </div>
</div>