<div class="container">
  <h4 class="row text-center title"><%= @user.name %>の回答履歴</h4>
  <div class="row">
    <% @questions.each do |question| %>
      <div class="col-sm-6">
        <%= link_to question_path(question.id) do %>
          <%= render 'public/questions/list', question: question %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>