<div class="col-sm-3 col-lg-2 px-0">
  <div class="border text-center">
    <p class="border-bottom">紅茶の種類</p>
    <p><% tags.each do |tag| %>
      <%= link_to tag.name, tags_item_path(tag.id), class: "text-dark" %><br>
    <% end %></p>
  </div>
</div>