<p>マイページ</p>
<%= image_tag @user.get_profile_image(100,100) %>
<%= @user.name %>
<%= @user.introduction %>
<% if @user == current_user %>
    <p><%= link_to "プロフィール編集", users_information_edit_path %></p>
<% end %>