<p>本当に退会しますか？</p>
<%= link_to '退会しない', user_path(current_user.id) %>
<%= link_to '退会する', users_withdraw_path(current_user.id, user: {is_deleted: true}), method: :patch, "data-confirm" => "本当に退会しますか？" %>